/*
 * CSS code for FoG pages
 * 
 * page-donate, page-support-us, page-friends-of-gnome, page-thank-you, page-questionnaire
 */

/* Boxes for the "Donate to GNOME" page */
#boxes > div {
  margin: 10px;
  width: 150px;
  height: 150px;
  -moz-border-radius: 4px;
  /*display: inline-block;*/
  background-color: #73d216;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}

#boxes > div {
  cursor: pointer;
}

.boxes-container {
    padding-bottom: 20px;
}

.boxes {
    text-align: center;
    background-color: #f0f0f0;
    cursor: pointer;
}

.boxes:hover {
    background-color: #f5f5f5;
}

.boxes p:nth-child(2) {
    color: gray;
}

.boxes.active {
    background-color: #4A90D9;
}

.boxes.active p {
    color: #fff;
}


#adopt {
  background-image: url("../images/adopt-normal.png");
}

#adopt.greyed {
    background-image: url("../images/adopt-inactive.png") !important;
}

#associate {
  background-image: url("../images/associate-normal.png");
}

#associate.greyed {
    background-image: url("../images/associate-inactive.png") !important;
}

#sponsor {
  background-image: url("../images/sponsor-normal.png");
}

#sponsor.greyed {
    background-image: url("../images/sponsor-inactive.png") !important;
}

#philanthropist {
  background-image: url("../images/philanthropist-normal.png");
}

#philanthropist.greyed {
    background-image: url("../images/philanthropist-inactive.png") !important;
}

.active-text {
  font-size: 11px;
  padding: 1em;
  visibility: hidden;
  text-align: center;
  height: 65%;
}

/* relative position, bottom, left */
.level-text {
    position: relative;
    /* really ugly, why does this work? */
    text-align: center;
    height: 35%;
}

.greyed {
    background-color: #d3d7cf !important;
    color: #babdb6;
}


div#below {
    margin: 10px;
    padding: 0px;
    position: relative;
    width: 660px;
    clear: both;
}

p#donation-details {
    text-align: center;
    font-weight: bold;
}

div#below > p {
    text-align: center;
}

p.hidden {
    display: none;
}

div#below > form {
    display: none;
}


/* allow room for 3 columns */
#below ul {
    width: 700px;
}


/* float & allow room for the widest item */
#below ul li {
    float: left;
    width: 200px;
    list-style: none;
}

/* stop the float */
#below br {
    clear: left;
}

/* Get rid of some 960 spacing */
#below li {
  margin-left: 0px;
}

/* separate the list from subsequent markup */
div.wrapper {
    margin-bottom: 1em;
}

#foundation-info {
  padding: 10px;
  width: 650px;
}

small {
  font-size: 12px;
  color: gray;
}

/*
 * "Support GNOME" page
 */
 
#support-gnome .title {
    text-align: left;
    font-size: 13pt;
    font-weight: 600;
    color: #919191;
}

#support-gnome .article {
    padding-bottom: 20px;
    line-height: 15pt;
}

#support-gnome .article img {
    margin-right: 10px;
}

/*
 * Miscellaneous
 */
 
.validation-msg {
    background:#f2f2f2;
    padding:8px;
}

.form-horizontal .control-label {
    color: #3465A4;
    font-weight: 600;
}

/* Give hackers some space */
.fog-hackers {
    margin-bottom: 20px;
}

.fog-banner {
    padding-bottom: 20px;
}

/* Customize select button for Bitcoin donations */
select {
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/asc.png) 80% / 11% no-repeat #eee;
}

.text {
    color: gray;
}

/* 
 * "Thank you" page
 */

/* we need round icons */
#thankyou [class*="fa fa-"] {
    background-color: #D3D7CF;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px 20px;
    width: 50px;
    font-size: 25px;
    text-align: center;
}
